@use '../abstracts' as *;
@use '../core' as *;

// Hero Section
.hero {
  width: 100%;
  height: 100vh;
  padding: 0 var(--padding);
  position: relative;
  @include flex;
  @include media($br-4) {
    padding-top: 0;
    flex-direction: column-reverse;
  }
  // Illustration
  &__illustration {
    width: 100%;
    height: 100%;
    position: relative;
    img {
      position: absolute;
      left: 40%;
      top: 60%;
      width: 80%;
      transform: translate(-30%, -50%);
      @include media($br-2) {
        width: 50rem;
      }
      @include media($br-3) {
        width: 90%;
        transform: translate(-40%, -70%);
      }
    }
  }

  // Content
  &__content {
    @include media($br-4) {
      text-align: center;
    }
    p {
      max-width: 32rem;
      margin: $med__spacing 0;
      @include media($br-4) {
        margin: $sml__spacing auto;
      }
    }
    button {
      @include button(10.75rem, 3rem);
      background: $gradient;
      color: $white-1;
      &:hover {
        opacity: 0.55;
      }

      @include media($br-4) {
        @include button(10rem, 2.75rem);
      }
    }
  }
}
