@use '../abstracts' as *;
@use '../core' as *;

// Main Section
.main {
  background: $white-3;
  padding: $space_lrg $padding;
  margin-top: $section_margin;

  @include media_page-padding();

  // Heading
  &__heading {
    margin-bottom: $space_lrg;
    @include media(700) {
      margin: $space_lrg 0;
    }
    h2 {
      margin-bottom: $space;
    }
    p {
      max-width: 45rem;
    }
  }

  // Grid
  &__grid {
    margin-bottom: $space_lrg;
    @include grid(repeat(4, 1fr), repeat(1, 1fr), $grid_spacing-1);

    @include media(950) {
      @include grid(repeat(2, 1fr), repeat(2, 1fr), $grid_spacing-1 / 1.15);
    }
    @include media(700) {
      @include grid(repeat(1, 1fr), repeat(4, 1fr), $grid_spacing-1);
    }

    .grid__item {
      img {
        margin-bottom: $space;
      }
      h3 {
        margin-bottom: $space_sml;
      }
      p {
      }
    }
  }
}
